body {
  background-color: rgba(188, 236, 238, 0.589);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18;
  color: #00133d;
}

.allContacts {
  margin-bottom: 10px;
}

.titleContacts {
  margin-top: 50px;
}
